body {
	color: black;
}

#splash > h1 {
	color: white;
	text-align: center;
	font-family: 'Prime Light', sans-serif;
}

#lahs {
  color: #1c3680;
}

#skybox {
  color: #296591;
}

#scu {
  color: #9e1f0f;
}

#galileo {
  color: #90a1d9;
}

#kappa-sigma {
  color: #9e1f0f;
}

#vwp {
  color: #9e1f0f;
}