body {
	color: black;
}

#lahs {
  color: #1c3680;
}

#skybox {
  color: #296591;
}

#scu {
  color: #9e1f0f;
}

#galileo {
  color: #90a1d9;
}

#kappa-sigma {
  color: #9e1f0f;
}

#vwp {
  color: #9e1f0f;
}