.align-right { 
  font-size: 12px;
  vertical-align: baseline;
  text-align: right;
  float: right;
  color: #696969;
}

@font-face {
  font-family: 'Summit';
  src: url('../fonts/SummitLight-Solid.otf') format('opentype');
}

.hidden {
  display: none;
}

#splash {
  /*position: relative;*/
  display: table;
  min-height: 100vh;
  width: 100%;
  background-color: #012d42;
  font-family: 'Summit';
}

#splash .header {
  display: table-cell;
  color: white;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}


#about {
  min-height: 80vh;
  background-color: orange;
}


#experience {
  min-height: 80vh;
  background-color: purple;
}


#footer {
  min-height: 30vh;
  background-color: #00702a;
  color: white;
}

#footer > div {
  padding-top: 20px;
}

