pre {
  overflow-x: auto;
  border-radius: 0.33rem;

  &[class*="language-"] {
    display: inline-block;
    line-height: $line-height / 1.5;
    word-wrap: break-word;

    padding: 0.75rem .5rem;

    @include lg {
      padding: 1.5rem 1rem;
    }
    width: 100%
  }
}
