.header {
  display: flex;
  flex-direction: column;

  @include md {
    flex-direction: row;
    justify-content: space-between;
  }

  padding: $line-height / 2 0;
  @include sm {
    padding: $line-height 0;
  }

  @include md {
    padding: $line-height * 1.5 0;
  }

  @include lg {
    padding: $line-height * 2 0;
  }

  @include xl {
    padding: $line-height * 3 0;
  }

  .header-logo {
    .header-link {
      font-size: $font-size * $type-scale;
    }
  }

  .header-link {
    margin-right: $line-height / 3;
    color: $color-text;
    font-size: $font-size / $type-scale;
    font-style: italic;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;

    @include md {
      font-size: $font-size;
    }

    &:hover {
      color: $color-link;
    }
  }
}
