.header {
  position: relative;

  @include sm {
    padding: $line-height 0;
  }

  @include md {
    padding: $line-height * 1.5 0;
  }

  @include lg {
    padding: $line-height * 2 0;
  }

  @include xl {
    padding: $line-height * 3 0;
  }

  .header-logo {
    margin: 0;
    line-height: $line-height;

    .header-link {
      font-size: $font-size * $type-scale;
    }
  }

  .mobile-nav-button {
    display: block;
    color: $gray-800;
    background: white;
    border: none;
    cursor: pointer;

    &:hover {
      color: $gray-700;
    }

    &:focus {
      color: $gray-700;
      outline: none;
    }

    svg {
      height: 1.5rem;
      width: 1.5rem;
      fill: current;
    }
  }
}

nav {
  .header-item {
    margin-right: $line-height / 4;
  }

  .header-nav {
    display: flex;
    margin: 0;
    list-style: none;
  }
}

.header-link {
  color: $color-text;
  font-size: $font-size / $type-scale;
  font-style: italic;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;

  &:hover {
    color: $color-link;
  }
}
