.header {
  position: relative;
  padding: ($line-height * 3) 0;

  .header-logo {
    margin: 0;
    line-height: $line-height;

    .header-link {
      font-size: $font-size * $type-scale;
    }
  }
}

nav {
  .header-item {
    margin-right: $line-height / 4;
  }

  .header-nav {
    display: flex;
    margin: 0;
    list-style: none;
  }
}

.header-link {
  color: $color-text;
  font-size: $font-size / $type-scale;
  font-style: italic;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;

  &:hover {
    color: $color-link;
  }
}
