nav.navbar {
  flex: 1;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  [role="button"] {
    z-index: 40;
  }

  p.title {
    text-transform: uppercase;
  }
}
