.post {
  // margin-bottom: $line-height * 3;

  img {
    margin: auto;
  }

  .post-title {
    @extend .mt-0;

    .post-link {
      color: $color-text;
      text-decoration: none;

      &:hover {
        color: $color-link;
      }
    }
  }

  .post-preview {
    .post-read-more {
      font-size: $font-size / $type-scale;
      text-decoration: none;
      vertical-align: top;
    }
  }
}
