//
// hidden breakpoints
//
.hidden {
  display: none;
}

.sm\:hidden {
  @include sm {
    display: none;
  }
}

.md\:hidden {
  @include md {
    display: none;
  }
}

.lg\:hidden {
  @include lg {
    display: none;
  }
}

.xl\:hidden {
  @include xl {
    display: none;
  }
}

//
// flex breakpoints
//
.flex {
  display: flex;
}

.sm\:flex {
  @include sm {
    display: flex;
  }
}

.md\:flex {
  @include md {
    display: flex;
  }
}

.lg\:flex {
  @include lg {
    display: flex;
  }
}

.xl\:flex {
  @include xl {
    display: flex;
  }
}

//
// flex row
//
.flex-row {
  flex-direction: row;
}

.sm\:flex-row {
  @include sm {
    flex-direction: row !important;
  }
}

.md\:flex-row {
  @include md {
    flex-direction: row !important;
  }
}

.lg\:flex-row {
  @include lg {
    flex-direction: row !important;
  }
}

.xl\:flex-row {
  @include xl {
    flex-direction: row !important;
  }
}

//
// flex col
//
.flex-col {
  flex-direction: column;
}

.sm\:flex-col {
  @include sm {
    flex-direction: column !important;
  }
}

.md\:flex-col {
  @include md {
    flex-direction: column !important;
  }
}

.lg\:flex-col {
  @include lg {
    flex-direction: column !important;
  }
}

.xl\:flex-col {
  @include xl {
    flex-direction: column !important;
  }
}
