$color-text: #333;
$color-link: #d33a2c;

// subset of https://tailwindcss.com/docs/customizing-colors
$gray-600: #4B5563;
$gray-700: #374151;
$gray-800: #1F2937;

$font-size: 1rem;
$line-height: 1rem;
$type-scale: 1.25;

// screen variables + mixins
// see https://medium.com/codeartisan/breakpoints-and-media-queries-in-scss-46e8f551e2f2
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$screen-sizes: (
  sm: $screen-sm-min,
  md: $screen-md-min,
  lg: $screen-lg-min,
  xl: $screen-xl-min
);

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
