<meta property="og:site_name" content="{{ site.title }}">

{% if page.title %}
  <meta property="og:title" content="{{ page.title }} | {{ site.title }}">
{% else %}
  <meta property="og:title" content="{{ site.title }}">
{%- endif -%}

{%- if page.title -%}
  <meta property="og:type" content="article">
{% else %}
  <meta property="og:type" content="website">
{%- endif -%}

{%- if page.description -%}
  <meta property="og:description" content="{{ page.description }}">
{% else if site.description  %}
  <meta property="og:description" content="{{ site.description }}">
{%- endif -%}

{%- if page.url -%}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
{% endif %}

{%- if page.date -%}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  <meta property="article:author" content="Ryan Rishi">
{%- endif -%}

{% if page.image %}
  <meta property="og:image" content="{{ site.url }}{{ page.image }}">
{% else %}
  <meta property="og:image" content="{{ site.url }}{{ site.site_image }}">
{%- endif -%}

{%- if page.categories -%}
  {% for category in page.categories limit:1 %}
  <meta property="article:section" content="{{ category }}">
  {% endfor %}
{%- endif -%}

{%- if page.tags -%}
  {%- for tag in page.tags -%}
  <meta property="article:tag" content="{{ tag }}">
  {% endfor %}
{%- endif -%}
