.post {
  margin-bottom: $lh * 3;
}

.post-title {
  margin-top: 0;
}

.post-link {
  color: $color-text;
  text-decoration: none;

  &:hover {
    color: $color-link;
  }
}

.post-meta {
  margin-top: -$lh;
  font-size: $fz / $type-scale;
}

.post-read-more {
  font-size: $fz / $type-scale;
  font-style: italic;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
}
