---
layout: default
title: Blog
permalink: /blog/
---

<div>
  {% for post in site.posts %}
    <div class="post">
      <h2 class="post-title">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>

      <div class="post-preview">
        <p>
          {% if post.blurb %}
            {{ post.blurb }}
          {% else %}
            {{ post.content | strip_html | truncatewords: 75 }}
          {% endif %}
        </p>
        <a class="post-read-more" href="{{ post.url }}">Read more &raquo;</a>
      </div>
    </div>
  {% endfor %}
</div>
