.project-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .project-list-item {
    &:first-child {
      width: 50%;
    }
    background: tomato;
    padding: 5px;
    width: $line-height * 6;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
  }
}
