.project-list {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  /* Your container needs a fixed height, and it
   * needs to be taller than your tallest column. */
  height: 600px;


  &::before,
  &::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }

  .project-list-item {
    width: 32%;
    &:nth-child(3n + 1) {
      order: 1;
    }
    &:nth-child(3n + 2) {
      order: 2;
    }
    &:nth-child(3n) {
      order: 3;
    }

    @for $i from 1 through 2 {
      &:nth-child(2n + #{$i}) {
        height: #{375 - 75 * $i}px;
      }
    }

    background: tomato;
    padding: 1rem;
    height: 150px;
    margin-top: 1rem;
    color: white;
  }
}
