name: Cypress
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  cypress:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.5
      - name: Cypress
        uses: cypress-io/github-action@v2
        with:
          build: yarn build
          start: yarn start
          spec: cypress/integration/test_page.spec.js # DON'T COMMIT TO MAIN
          command-prefix: 'percy exec -- npx'
        env:
          PERCY_TOKEN: "${{ secrets.PERCY_TOKEN }}"
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cypress-videos
          path: cypress/videos
