name: ESLint
on: [push]
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.2.0
      - run: npm ci
      - run: npm run eslint
